.Loading {
    margin-top: $xl-size;
    text-align: center;

    h2{
        margin-top: $m-size;
        font-size: $l-size;
        color: $medium-grey;
    }
    p {
        margin-top: $m-size;
        color: $medium-grey;
    }
}