.LoginRegister{
    position: relative;
    left: calc(50% - 200px);
    margin-top: $xl-size;
    width: 100%;
    max-width: 400px;
    border: 1px solid $light-grey;
    border-radius: 4px;
    background: white;

    .LoginRegister__title{
        text-align: center;
        letter-spacing: 1px;
        padding: $l-size $m-size $m-size $m-size;
        background: $lighter-grey;
        background: white;
    }
}

.LoginRegister__Buttons{
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    background: white;
    background: white;

    button{
        appearance: none;
        width: 50%;
        padding: $m-size;
        font-size: $m-size;
        border: none;
        border-bottom: 2px solid transparent;
        outline: none;
        cursor: pointer;

        &:focus {
            background: darken(white, 5%);
        }

        &.isActive {
            border-bottom: 2px solid $info;
        }
    }
}

.LoginRegister__Content {
    padding: 0 $l-size $l-size $l-size;
}

.OtherSignInMethods{
    text-align: center;
    background: $lighter-grey;

    span{
        display: block;
        width: 100%;
        padding: $s-size 0 0 0;
        color: $medium-grey;
        opacity: 0.6;
    }

    .GoogleAuthButton{
        margin: $s-size 0 0 0;
        -webkit-appearance: none;
        width: 191px;
        height: 46px;
        border: none;
        background: #4285F4;
        color: transparent;
        font-size: 1.6rem;
        background: url("../img/GoogleAuthButton.png");

        &:hover {
            cursor: pointer;
        }
    }
}
