.message {
    background: $light-grey;
    border-radius: 4px;
    overflow: hidden;
    margin-top: $l-size;

    .message__header {
        position: relative;
        padding: $s-size $m-size;
        color: white;
        justify-content: space-between;
        background: $info;
        padding: .75em 1em;

        button {
            position: absolute;
            top: 10px;
            right: $m-size;
            appearance: none;
            color: white;
            font-size: $m-size;
            border: none;
            background: none;
        }
    }
    .message__content {
        padding: 1.25em 1.5em;
        color: #4a4a4a;
    }

    &.is_Success .message__header, 
    &.is_success .message__header {
        background: $success;
    }

    &.is_Error .message__header, 
    &.is_error .message__header {
        background: $danger;
    }

    &.is_Warning .message__header, 
    &.is_warning .message__header {
        background: $warning;
    }
}