.PageHeader{
    width: 100%;
    margin: $xl-size 0;

    .wrapper {
        padding: 0 $xl-size;
    }

    h2 {
        color: $medium-grey;
        font-size: $xl-size;
    }
    p {
        padding: $s-size 0 $s-size $l-size;
        color: $medium-grey;
        font-size: $m-size;
    }
}