.RecipeListFilters{
    width: 100%;
    padding: $xl-size 0;
    background: $lighter-grey;

    .wrapper {
        padding: 0 4.8rem;
    }

    .RecipeListFilters-section{
        width: 100%; 

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    input[type=search] {
        @extend %Input;
        width: 200px;
    }
    input[type=button] {
        margin-left: $s-size;
    }
    select {
        @extend %Select;
        margin-left: $s-size;
        // float: left;
    }
    label {
        @extend %Label;
        margin-top: 2.6rem;
        margin-right: $m-size;
        float: left;
        cursor: pointer;
    }
}