.RecipeListItem {
    flex-basis: 45%;
    width: 45%;
    margin: $l-size 0 0 0;
}

.RecipeListItem-Wrapper {
    margin: 0 $m-size;
    background: $lighter-grey;
    border-radius: 4px;
}
.RecipeListItem-Header {
    display: flex;
    width: 100%;
    padding: $m-size;

    .RecipeListItem-Info {
        flex-grow: 1;

        a {
            font-size: 2.8rem;
            color: $medium-grey;
            text-decoration: none;
        }

        p { 
            margin-top: -10px;
            padding: 0 0 0 5px;
            font-size: 1.8rem;
            color: $medium-grey;
        }
    }
}
.RecipeListItem-Content {
    width: 100%;
    padding: 0 $m-size $m-size $m-size;
}
.RecipeListItem-ModifyBtns{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    border-top: 1px solid darken($light-grey, 10%);

    button {
        margin-right: .5rem;
    }
}


@media (max-width: 868px) {
    .RecipeListItem {
        flex-basis: 100%;
        width: 100%;
        margin: $xl-size 0 0 0;
    }
}