%Button {
    -webkit-appearance: none; 
    padding: $s-size/1.2 $s-size;
    font-size: $m-size;
    color: $medium-grey;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid $light-grey;
    border-radius: 4px;
    cursor: pointer;

    &.is_info {
        background: $info;
        color: white;
    }
    &.is_success {
        background: $success;
        color: white;
    }
    &.is_warning {
        background: $warning;
        color: white;
    }
    &.is_danger {
        background: $danger;
        color: white;
    }

    &:hover{
        background: darken($light-grey, 10%);

        &.is_info { background: darken($info, 10%); }
        &.is_success { background: darken($success, 10%); }
        &.is_warning { background: darken($warning, 10%); }
        &.is_danger { background: darken($danger, 10%); }
    }
}

.Button { @extend %Button; }