%Button {
    display: inline-block;
    -webkit-appearance: none; 
    padding: $s-size/1.2 $s-size;
    height: 40px;
    font-size: $m-size;
    color: $medium-grey;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid $light-grey;
    border-radius: 50px;
    cursor: pointer;

    &.is_info {
        color: white;
        @extend %_info;
        border: none;
    }
    &.is_success {
        color: white;
        @extend %_success;
        border: none;
    }
    &.is_warning {
        color: white;
        @extend %_info;
        border: none;
    }
    &.is_danger {
        color: white;
        @extend %_danger;
        border: none;
    }

    &:hover{
        box-shadow: 0 0px 20px rgba(10,10,10,.2);
    }
}

.Button { 
    @extend %Button; 
}
.Button.is-small {
    width: 20px;
    height: 20px;
    padding: 0px;
    font-size: 1rem;
    float: right;
}
