.form {
    label {
        margin-top: $l-size;
        color: $medium-grey;
        display: block;
        font-size: 1.6rem;
        font-weight: 700;
    }
    input{
        appearance: none;
        padding-bottom: calc(.375em - 1px);
        padding-left: calc(.625em - 1px);
        padding-right: calc(.625em - 1px);
        padding-top: calc(.375em - 1px);
        margin-top: $m-size;
        width: 100%;
        max-width: 100%;
        font-size: 1.6rem;
        line-height: 1.5;
        color: #363636;
        box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
        background-color: #fff;
        border: 1px solid transparent;
        border-color: #dbdbdb;
        border-radius: 4px;
    }
    button {
        padding: $s-size/1.2 $s-size;
        margin-top: $l-size;
        font-size: $m-size;
        color: $medium-grey;
        background-color: #fff;
        border: 1px solid $light-grey;
        border-radius: 4px;
        cursor: pointer;

        &.is_info {
            background: $info;
            color: white;
        }
        &.is_success {
            background: $success;
            color: white;
        }
        &.is_warning {
            background: $warning;
            color: white;
        }
        &.is_danger {
            background: $danger;
            color: white;
        }
    }
}