// colors 
$brand: #ee205e;
$info: #209cee;
$success: #23d160;
$warning: #ffdd57;
$danger: #ff3860;

$lighter-grey: #f8f8f8;
$light-grey: #f5f5f5;
$medium-grey: #363636;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;


// Special
$NavigationHeight: 5.6rem;

// Special classes
.l-margin-top { margin-top: $l-size; }

.m-margin-right { margin-right: $m-size; }
.l-margin-right { margin-right: $l-size; }



.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}