// colors 
$info: #209cee;
$success: #23d160;
$warning: #ffdd57;
$danger: #ff3860;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;


// Special
$NavigationHeight: 5.6rem;